<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       					   http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="myBeanFactory" class="com.easy.c_inject.c_factory.MyBeanFactory"></bean>	
	<bean id="userServiceId" factory-bean="myBeanFactory" factory-method="createService"></bean>
</beans>       					   